@import '../../../../styles/variables.scss';

.days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: 0 0 $border-radius $border-radius;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(#{--card-background-default});
    border-radius: 10px;
    padding: 10px;
    width: 149px;
    transition: 0.3s;
    cursor: pointer;

    .day,
    .temp_day {
        font-size: 18px;
        color: var(#{--text-color-default});
    }

    .day {
        margin-bottom: 7px;
    }

    .day_info,
    .day_img {
        margin-bottom: 12px;
    }

    .day_info {
        font-size: 14px;
        color: $base-color;
    }

    .temp_night,
    .info {
        font-size: 13px;
        color: $base-color;
    }

    .temp_night {
        margin-bottom: 6px;
    }

    &:hover {
        box-shadow: var(#{--card-shadow-default});
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.tabs_wrapper {
    display: flex;
}

.tab,
.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    padding: 9px 20px;
    background: var(#{--components-background-default});
    margin-right: 15px;
    color: var(#{--text-color-default});
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background: $primary-color;
        color: #fff;
    }

    &:active {
        background: $primary-color;
        color: #fff;
        box-shadow: 3px 3px 25px 2px rgba(68, 68, 68, 0.25);
    }
}

.cancel {
    margin-right: 0;
}

.tab {
    &.active {
        background: $primary-color;
        color: #fff;
    }
}